@page
@model IndexModel

@{
    ViewData["Title"] = "Whiteboard";
}
  
@section Styles
{
    <link href="~/css/site.css" rel="stylesheet" />
}

<div>
    <div id="tools">
        <input type="color" id="colorPicker" />
        <select id="fontSizeSelect">
            <option value="12" selected>12px</option>
            <option value="14">14px</option>
            <option value="16">16px</option>
            <option value="20">20px</option>
            <option value="24">24px</option>
            <option value="30">30px</option>
        </select>
    </div>
    <div>
        <canvas id="whiteboard" width="800" height="600"></canvas>
    </div>
</div>

@section Scripts
{
   <script src="~/js/site.js"></script>
}